{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'overflow-hidden relative full-width py-8',
    content.field_background_image ? 'grey-text' : ''
]
  
%}
<div{{ attributes.addClass(classes) }}>

    {% if content.field_background_image %}
        <div class="bg-image absolute top-0 left-0 w-full h-full z-[-1] full-width">{{content.field_background_image}}</div>
    {% endif %}

    <div class="spacing grid grid-cols-1 md:grid-cols-2 relative">
        {{ title_prefix }}
        {% if label %}
            {% if content.field_background_image %}
                <h2{{ title_attributes }} class="md:col-span-2 text-white @apply uppercase text-2xl bold;">{{ label }}</h2>
            {% else %}
                <h2{{ title_attributes }} class="md:col-span-2 @apply uppercase text-2xl bold;">{{ label }}</h2>
            {% endif %}
        {% endif %}

        {{ title_suffix }}

        {% block content %}
            {{ content|without('field_background_image', 'field_logo') }}
        {% endblock %}

        {% if content.field_logo %}
            <div class="floating-logo absolute right-4 top-0 md:bottom-0 md:top-[initial] w-[100px] max-w-[12vw]"> {{content.field_logo}} </div>
        {% endif %}
    </div>

</div>